/* Root */

:root {
  --color-primary: #54a0ff;
  --color-dark: #606060;
  --color-light-dark: #909090;
  --color-light: rgb(245, 245, 245);
  --color-white: #fff;
  --font-family-primary: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* HTML */

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 0;
}

/* Typography */

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

p {
  margin-top: 0.6rem;
  font-size: 1.6rem;
}

.text-primary {
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
  }

  p {
    margin-bottom: 0;
  }
}

/* Buttons */

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Links */

.link-chevron {
  color: var(--color-primary);
  transition: all 0.4s ease-out;
}

.link-chevron::after {
  content: url("../images/chevron.svg");
  left: 0;
  position: relative;
  top: 3.2px;
  transition: all 0.4s ease-out;
}

.link-chevron:hover::after {
  left: 0.8rem;
}

/* Content */

main {
  margin-right: 300px;
  padding: 1.4rem 8rem;
}

@media screen and (max-width: 1024px) {
  main {
    margin-right: 0;
    padding: 1.4rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-right: 0;
    padding: 1.4rem 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  main {
    margin-right: 0;
    padding: 1.4rem 0.6rem;
  }
}

/* Header */

.main-header {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

#advanced-search {
  display: inline-block;
  margin: 0;
}

.burger-menu {
  display: none;
  position: relative;
  z-index: 11;
}

@media screen and (max-width: 1024px) {
  .main-header {
    margin-right: 0;
  }

  .burger-menu {
    display: inline-block;
  }

  #advanced-search {
    display: none;
  }
}

/* Lists */

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

li {
  font-size: 1.5rem;
}

li:not(:first-child) {
  border-top: 0.5px solid var(--color-light-dark);
}

/* Input */

.input-container {
  /* width: 340px; */
  position: relative;
}

.input-box {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding-bottom: 0.8rem;
}

input {
  border: none;
  font-family: var(--font-family-primary);
  font-size: 1.6rem;
  margin-top: 4px;
  min-width: 300px;
  outline: none;
  padding: 0;
}

.input-details {
  background-color: var(--color-white);
  border-radius: 4px;
  border: none;
  max-height: 0;
  max-width: 480px;
  overflow: hidden;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1;
}

.input-details-content {
  padding: 0 1.4rem 0.8rem;
}

.input-details-expanded {
  border: 0.2px solid var(--color-light-dark);
  box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.05);
  max-height: max-content;
}

.input-details #advanced-search {
  display: inline-block !important;
}

.search-result {
  margin-top: 0.4rem;
}

.search-result-list-item {
  transition: background-color 0.3s ease-out;
}

.search-result-list-item:hover {
  background-color: var(--color-light);
}

.search-result-button {
  display: block;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  padding-top: 1rem;
  text-align: left;
  width: 100%;
}

.btn-clean {
  background-color: var(--color-light-dark);
  color: var(--color-white);
  font-weight: bold;
  padding: 1.4rem 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  input {
    font-size: 1.4rem;
    margin-top: 4px;
    min-width: 180px;
    padding: 0;
  }
}

/* Map */

.map-container {
  background-color: #e5e5e5;
  border-radius: 16px;
  height: 500px;
  margin-bottom: 1.4rem;
  margin-top: 5.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#map {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.map-data-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.map-location {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.location-data {
  align-items: center;
  display: flex;
  gap: 6rem;
  justify-content: flex-start;
  margin-left: 3.2rem;
}

@media screen and (max-width: 768px) {
  .location-data {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    margin-left: 1.4rem;
  }
}

@media screen and (max-width: 540px) {
  .map-image {
    min-height: 300px;
    object-fit: cover;
    width: 100%;
  }
}

/* Icons */

.icon-box {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: background-color 0.4s ease-out;
  width: 40px;
}

.icon-box:hover {
  background-color: rgb(240, 240, 240);
}

.add-to-favourite-icon {
  background-color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9;
}

.add-to-favourite-icon:hover {
  background-color: white;
}

/* Sidebar */

.sidebar {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: right 0.2s ease-out;
  width: 300px;
  z-index: 10;
}

.sidebar-header {
  padding: 0.8rem 2.4rem 1rem;
}

.favourite {
  align-items: center;
  border-top: 0.5px solid black;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 2.4rem;
}

.favourite-description {
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    right: -300px;
  }

  .sidebar-expanded {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    right: 0;
  }
}

/* Search Results */

.search-results {
  border-radius: 12px;
  border: none;
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.1);
  min-width: 480px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

/* Loading Page */

.loading-page {
  align-items: center;
  backdrop-filter: blur(20px);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.loader {
  animation: spin infinite 1.2s ease-in-out;
  border-radius: 50%;
  border-top: 4px solid var(--color-primary);
  border: 4px solid #eeeeee;
  height: 35px;
  width: 35px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Margins */

.mr-2 {
  margin-right: 2rem;
}
