html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

p {
  margin-top: 0.6rem;
  font-size: 1.6rem;
}

.text-primary {
  color: #54a0ff;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.6rem;
  }
  p {
    margin-bottom: 0;
  }
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.btn {
  background-color: #54a0ff;
  color: #ffffff;
  font-weight: bold;
  padding: 1.4rem 2rem;
  width: 100%;
}

.link-chevron {
  color: #54a0ff;
  transition: all 0.4s ease-out;
}

.link-chevron::after {
  content: url("../images/chevron.svg");
  left: 0;
  position: relative;
  top: 3.2px;
  transition: all 0.4s ease-out;
}

.link-chevron:hover::after {
  left: 0.8rem;
}

main {
  margin-right: 300px;
  padding: 1.4rem 8rem;
}

@media screen and (max-width: 1024px) {
  main {
    margin-right: 0;
    padding: 1.4rem 4rem;
  }
}
@media screen and (max-width: 768px) {
  main {
    margin-right: 0;
    padding: 1.4rem 2.4rem;
  }
}
@media screen and (max-width: 480px) {
  main {
    margin-right: 0;
    padding: 1.4rem 0.6rem;
  }
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  gap: 2rem;
}

#advanced-search {
  display: inline-block;
  margin: 0;
}

.burger-menu {
  display: none;
  position: relative;
  z-index: 11;
}

@media screen and (max-width: 1024px) {
  .main-header {
    margin-right: 0;
  }
  .burger-menu {
    display: inline-block;
  }
  #advanced-search {
    display: none;
  }
}
ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

li {
  font-size: 1.5rem;
}

li:not(:first-child) {
  border-top: 0.5px solid #909090;
}

.input-container {
  background-color: #ffffff;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

.input-box {
  align-items: center;
  border-bottom: 1px solid #606060;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding-bottom: 0.8rem;
}

input {
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  margin-top: 4px;
  min-width: 300px;
  outline: none;
  padding: 0;
}

.input-details {
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  max-height: 0;
  max-width: 480px;
  overflow: hidden;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1;
}

.input-details-content {
  padding: 0 1.4rem 0.8rem;
}

.input-details-expanded {
  border: 0.2px solid #909090;
  box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.05);
  max-height: max-content;
}

.input-details #advanced-search {
  display: inline-block !important;
}

.search-result {
  margin-top: 0.4rem;
}

.search-result-list-item {
  transition: background-color 0.3s ease-out;
}

.search-result-list-item:hover {
  background-color: #f5f5f5;
}

.search-result-button {
  display: block;
  padding: 1rem 0 1.2rem 1rem;
  text-align: left;
  width: 100%;
}

.btn-clean {
  background-color: #606060;
  color: #ffffff;
  font-weight: bold;
  padding: 1.4rem 0;
  width: 100%;
}

@media screen and (max-width: 600px) {
  input {
    font-size: 1.4rem;
    margin-top: 4px;
    min-width: 180px;
    padding: 0;
  }
}
.map-container {
  background-color: #e5e5e5;
  border-radius: 16px;
  height: 500px;
  margin: 5.4rem 0 1.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.map-data-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.map-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.location-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
  margin-left: 3.2rem;
}

@media screen and (max-width: 768px) {
  .location-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    margin-left: 1.4rem;
  }
}
@media screen and (max-width: 540px) {
  .map-image {
    min-height: 300px;
    object-fit: cover;
    width: 100%;
  }
}
.icon-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  transition: background-color 0.4s ease-out;
  width: 40px;
}

.icon-box:hover {
  background-color: rgb(240, 240, 240);
}

.add-to-favourite-icon {
  background-color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9;
}

.add-to-favourite-icon:hover {
  background-color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: auto;
  background-color: #f8f8f8;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  transition: right 0.2s ease-out;
  width: 300px;
  z-index: 10;
}

.sidebar-header {
  padding: 0.8rem 2.4rem 1rem;
}

.favourite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid black;
  padding: 1.4rem 2.4rem;
}

.favourite-description {
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    right: -300px;
  }
  .sidebar-expanded {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    right: 0;
  }
}
.search-results {
  border-radius: 12px;
  border: none;
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.1);
  min-width: 480px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  padding: 1.4rem 1.4rem;
}

.search-results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-results-header h3 {
  margin: 0;
}

.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.loading-page .loader {
  animation: spin infinite 1.2s ease-in-out;
  border-radius: 50%;
  border: 4px solid #eeeeee;
  border-top: 4px solid #54a0ff;
  height: 35px;
  width: 35px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.mr-2 {
  margin-right: 2rem;
}

.fullscreen-mode .input-container {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.fullscreen-mode main {
  padding: 1.4rem 2rem;
  margin: 0;
}
.fullscreen-mode .map-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
}
.fullscreen-mode .main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  gap: 2rem;
}
.fullscreen-mode .sidebar {
  right: -300px;
}
.fullscreen-mode .input-container {
  padding: 0.8rem 1rem 0.2rem;
}
.fullscreen-mode .input-box {
  border-bottom: none;
}
.fullscreen-mode .input-details {
  top: 70px;
  border-radius: 12px;
  border: none;
}
.fullscreen-mode .map-info {
  position: absolute;
  background-color: white;
  width: 50%;
  border-radius: 12px;
  bottom: 2rem;
  padding: 1rem 2rem;
}
.fullscreen-mode .add-to-favourite-icon {
  top: initial;
  bottom: 20px;
}
.fullscreen-mode .burger-menu {
  display: inline-block;
  backdrop-filter: blur(20px);
  border-radius: 50%;
  padding: 0.2rem 0.6rem;
}
.fullscreen-mode .sidebar-expanded {
  right: 0;
}
@media screen and (max-width: 768px) {
  .fullscreen-mode .map-info {
    width: 100%;
    left: 0;
    padding: 0;
    border-radius: 0;
    bottom: 0;
  }
  .fullscreen-mode .map-data-header {
    padding: 0 1.4rem;
  }
  .fullscreen-mode .location-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    padding-bottom: 1.4rem;
    padding-left: 3rem;
  }
  .fullscreen-mode .add-to-favourite-icon {
    bottom: 10px;
    right: 15px;
    background-color: #f5f5f5;
  }
}

/*# sourceMappingURL=styles.css.map */
